<html>

<head>
    <title>Form Demo</title>

    <link rel="stylesheet" href="../SimplePatientApp/bootstrap.min.css">

    <style>


    </style>

</head>

<body ng-app="myApp">
    <div class="generic-container" ng-controller="AppController as ctrl" style="padding-left:40px;">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="lead">Patient Registration Form </span>
            </div>
            <hr>
            <div class="formcontainer">
                <form ng-submit="ctrl.submit()" name="myForm" class="form-horizontal">
                    <input type="hidden" ng-model="ctrl.user.id" />
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-lable" for="uname">First Name</label>
                            <div class="col-md-7">
                                <input type="text" ng-model="ctrl.user.username" id="firstname" class="username form-control input-sm" placeholder="Enter your First Name" required/>
                                <div class="has-error" ng-show="myForm.$dirty">
                                    <span ng-show="myForm.uname.$error.required">This is a required field</span>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-lable" for="uname">Last Name</label>
                            <div class="col-md-7">
                                <input type="text" ng-model="ctrl.user.lastname" id="lastname" class="username form-control input-sm" placeholder="Enter your Last Name" required/>
                                <div class="has-error" ng-show="myForm.$dirty">
                                    <span ng-show="myForm.lastname.$error.required">This is a required field</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-lable" for="uname">Age</label>
                            <div class="col-md-7">
                                <input type="number" ng-model="ctrl.user.age" id="age" class="username form-control input-sm" placeholder="Enter your Age" required/>
                                <div class="has-error" ng-show="myForm.$dirty">
                                    <span ng-show="myForm.age.$error.required">This is a required field</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-lable" for="uname">DOB</label>
                            <div class="col-md-7">
                                <input type="date" ng-model="ctrl.user.dob" id="dob" class="username form-control input-sm" placeholder="Enter your DOB" required/>
                                <div class="has-error" ng-show="myForm.$dirty">
                                    <span ng-show="myForm.dob.$error.required">This is a required field</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                 <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-lable" for="gender">Gender</label>
                            <div class="col-md-7">
                                <select class="form-control" ng-model="ctrl.user.gender" id="gender" class="form-control input-sm" placeholder="Select Gender">
                                  <option>Male</option>
                                  <option>Female</option>
                                </select>
                                
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-lable" for="address">Phone</label>
                            <div class="col-md-7">
                                <input type="tel" ng-model="ctrl.user.phone" id="phone" class="form-control input-sm" placeholder="Enter your Phone Number" ng-maxlength="10"/>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-lable" for="address">Address</label>
                            <div class="col-md-7">
                                <input type="text" ng-model="ctrl.user.address" id="address" class="form-control input-sm" placeholder="Enter your Address" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-lable" for="email">Email</label>
                            <div class="col-md-7">
                                <input type="email" ng-model="ctrl.user.email" id="email" class="email form-control input-sm" placeholder="Enter your Email" required/>
                                <div class="has-error" ng-show="myForm.$dirty">
                                    <span ng-show="myForm.email.$error.required">This is a required field</span>
                                    <span ng-show="myForm.email.$invalid">This field is invalid </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                     <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-lable" for="address">Information</label>
                            <div class="col-md-7">
                                <textarea type="text" ng-model="ctrl.user.information" id="information" class="form-control input-sm" placeholder="Enter Information" rows="3"></textarea>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <div class="form-actions floatRight" style="text-align:center">


                        <input type="submit" value="{{!ctrl.user.id ? 'Add' : 'Update'}}" class="btn btn-primary btn-md" ng-disabled="myForm.$invalid">

                        <button type="button" ng-click="ctrl.reset()" class="btn btn-warning btn-md" ng-disabled="myForm.$pristine">Reset</button>

                    </div>



                </form>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading"><span class="lead">List of Patients </span>
            </div>
            <hr>
            <div class="input-group" style="width: 30%;">
                <input class="form-control" ng-model="searchText.username" placeholder="Search here" type="search" ng-change="search()" />

            </div>
            <br>

            <div class="tablecontainer">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>ID.</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Age</th>
                            <th>DOB</th>
                            <th>Gender</th>
                            <th>Phone</th>
                            <th>Address</th>
                            <th>Email</th>
                            <th>Information</th>
                            <th width="100">
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="u in ctrl.users | filter:searchText:strict">
                            <td><span ng-bind="u.id"></span>
                            </td>
                            
                            <td><span ng-bind="u.username"></span>
                            </td>
                            <td><span ng-bind="u.lastname"></span>
                            </td>
                             <td><span ng-bind="u.age"></span>
                            </td>
                            <td><span ng-bind="u.dob"></span>
                            </td>
                             <td><span ng-bind="u.gender"></span>
                            </td>
                            <td><span ng-bind="u.phone"></span>
                            </td>
                            <td><span ng-bind="u.address"></span>
                            </td>
                            <td><span ng-bind="u.email"></span>
                            </td>
                            <td><span ng-bind="u.information"></span>
                            </td>
                            <td>
                                <button type="button" ng-click="ctrl.edit(u.id)" class="btn btn-success custom-width">Edit</button>
                                <button type="button" ng-click="ctrl.remove(u.id)" class="btn btn-danger custom-width">Delete</button>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js"></script>
    <script>
        angular.module('myApp', [])
            .controller('AppController', ['$scope',
                function($scope) {
                    var self = this;
                    self.user = {
                        id: null,
                        username: '',
                        lastname: '',
                        age:'',
                        dob:'',
                        gender:'',
                        phone:'',
                        address: '',
                        email: '',
                        information:''
                    };
                    self.id = 4;

                    self.users = [{
                        id: 1,
                        username: 'Christopher',
                        lastname: 'Young',
                        age:45,
                        dob:'Wed Oct 12 2016',
                        gender:'Male',
                        phone:'6767676767',
                        address: 'San Francisco',
                        email: 'ChristopherPYoung@rhyta.com',
                        information:''
                    }, 
                                  {
                        id: 2,
                        username: 'Jose',
                        lastname: 'Baumbach',
                        age:50,
                        dob:'Wed Jan 30 1978',
                        gender:'Female',
                        phone:'45454545445',
                        address: 'Grand Rapids',
                        email: 'JoseMBaumbach@armyspy.com',
                        information:''
                    }, 
                                  {
                        id: 3,
                        username: 'Diane',
                        lastname: 'Turner',
                        age:45,
                        dob:'Tue Oct 12 1945',
                        gender:'Male',
                        phone:'2222211113',
                        address: 'Elk Grove Village',
                        email: 'DianeJTurner@armyspy.com',
                        information:''
                    },  {
                        id: 4,
                        username: 'Kathleen',
                        lastname: 'Dunn',
                        age:80,
                        dob:'Wed Jan 30 1988',
                        gender:'Female',
                        phone:'2222222222',
                        address: 'Akiak',
                        email: 'KathleenLDunn@jourrapide.com',
                        information:''
                    }, 
                                  
                        {
                        id: 5,
                        username: 'Sean',
                        lastname: 'Ratcliffe',
                        age:80,
                        dob:'Wed Jan 30 1988',
                        gender:'Female',
                        phone:'2222222222',
                        address: 'Rancho Cordova',
                        email: 'SeanLRatcliffe@teleworm.us',
                        information:''
                    }, 
                                   {
                        id: 6,
                        username: 'Joseph',
                        lastname: 'Lopez',
                        age:80,
                        dob:'Wed Feb 30 1978',
                        gender:'Female',
                        phone:'2222222222',
                        address: 'Huntington',
                        email: 'JosephSLopez@dayrep.com',
                        information:''
                    }, 
                                  
                                   {
                        id: 7,
                        username: 'Seymour',
                        lastname: 'Wong',
                        age:80,
                        dob:'Wed Feb 30 1978',
                        gender:'Female',
                        phone:'2228822772',
                        address: 'Philadelphia',
                        email: 'SeymourKWong@armyspy.com',
                        information:''
                    }, 
                                 
                                 ];

                    self.submit = function() {
                        if (self.user.id === null) {
                            self.user.id = self.id++;
                            console.log('Saving New User', self.user);
                            self.users.push(self.user);
                        } else {
                            for (var i = 0; i < self.users.length; i++) {
                                if (self.users[i].id === self.user.id) {
                                    self.users[i] = self.user;
                                    break;
                                }
                            }
                            console.log('User updated with id ', self.user.id);
                        }
                        self.reset();
                    };

                    self.edit = function(id) {
                        console.log('id to be edited', id);
                        for (var i = 0; i < self.users.length; i++) {
                            if (self.users[i].id === id) {
                                self.user = angular.copy(self.users[i]);
                                break;
                            }
                        }
                    }

                    self.remove = function(id) {
                        console.log('id to be deleted', id);
                        for (var i = 0; i < self.users.length; i++) {
                            if (self.users[i].id === id) {
                                self.users.splice(i, 1);
                                if (self.user.id === id) {
                                    self.reset();
                                }
                                break;
                            }
                        }
                    }

                    self.reset = function() {
                        self.user = {
                            id: null,
                            username: '',
                            lastname:'',
                            age:'',
                            dob:'',
                            gender:'',
                            phone:'',
                            address: '',
                            email: '',
                            information:''
                        };
                        $scope.myForm.$setPristine(); //reset Form
                    }



                    $scope.search = function() {
                        $scope.users = _.filter($scope.allItems,
                            function(item) {
                                return searchUtil(item, $scope.searchText);
                            });

                        if ($scope.searchText == '') {
                            $scope.filteredList = $scope.allItems;
                        }
                    }

                    function searchUtil(item, toSearch) {

                        return (item.name.toLowerCase().indexOf(toSearch.toLowerCase()) > -1 || item.Email.toLowerCase().indexOf(toSearch.toLowerCase()) > -1 || item.EmpId == toSearch) ? true : false;
                    }


                }
            ]);

    </script>
</body>

</html>
